@model RestaurantPOS.Domain.Entities.RestaurantTable

@{
    ViewData["Title"] = "Table Details";
}

<h2>Table Details</h2>

<div>
    <h4>Table @Model.TableNumber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Number</dt>
        <dd class="col-sm-10">@Model.TableNumber</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</p>